# Copyright 2021 ZUP IT SERVICOS EM TECNOLOGIA E INOVACAO SA
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

definitions:
  entities.Response:
    properties:
      code:
        type: integer
      content:
        type: object
      status:
        type: string
    type: object
  management.Response:
    properties:
      data:
        items:
          $ref: '#/definitions/management.ResponseData'
        type: array
      totalItems:
        type: integer
    type: object
  management.ResponseData:
    properties:
      analysisID:
        type: string
      code:
        example: '-----BEGIN RSA PRIVATE KEY-----'
        type: string
      column:
        example: "1"
        type: string
      commitAuthor:
        example: horusec
        type: string
      commitDate:
        example: "2021-12-30"
        type: string
      commitEmail:
        example: horusec@zup.com.br
        type: string
      commitHash:
        example: a21fa164c00a15f3e91f5ee6659cb6a793b39a8d
        type: string
      commitMessage:
        example: Initial commit
        type: string
      confidence:
        enum:
        - HIGH
        - MEDIUM
        - LOW
        example: HIGH
        type: string
      details:
        example: Asymmetric Private Key Found SSH and/or x.509 Cerficates among the files of your project, make sure you want this kind of information inside your Git repo, since it can be missused by someone with access to any kind of copy.  For more information checkout the CWE-312 (https://cwe.mitre.org/data/definitions/312.html) advisory.
        type: string
      file:
        example: /deployments/cert.pem
        type: string
      language:
        enum:
        - Go
        - C#
        - Dart
        - Ruby
        - Python
        - Java
        - Kotlin
        - Javascript
        - Typescript
        - Leaks
        - HCL
        - C
        - PHP
        - HTML
        - Generic
        - YAML
        - Elixir
        - Shell
        - Nginx
        example: Leaks
        type: string
      line:
        example: "1"
        type: string
      securityTool:
        enum:
        - HorusecEngine
        - GoSec
        - SecurityCodeScan
        - Brakeman
        - Safety
        - Bandit
        - NpmAudit
        - YarnAudit
        - GitLeaks
        - TfSec
        - Semgrep
        - Flawfinder
        - PhpCS
        - MixAudit
        - Sobelow
        - ShellCheck
        - BundlerAudit
        example: HorusecEngine
        type: string
      severity:
        enum:
        - CRITICAL
        - ' HIGH'
        - ' MEDIUM'
        - ' LOW'
        - ' INFO'
        example: CRITICAL
        type: string
      type:
        enum:
        - Vulnerability
        - ' Risk Accepted'
        - ' False Positive'
        - ' Corrected'
        example: Vulnerability
        type: string
      vulnHash:
        example: 8bcac7908eb950419537b91e19adc83ce2c9cbfdacf4f81157fdadfec11f7017
        type: string
      vulnerabilityID:
        example: 00000000-0000-0000-0000-000000000000
        type: string
    type: object
  management.UpdateData:
    properties:
      analysisID:
        type: string
      vulnerabilities:
        items:
          $ref: '#/definitions/management.VulnerabilityData'
        type: array
    type: object
  management.VulnerabilityData:
    properties:
      severity:
        enum:
        - CRITICAL
        - ' HIGH'
        - ' MEDIUM'
        - ' LOW'
        - ' INFO'
        example: CRITICAL
        type: string
      type:
        enum:
        - Vulnerability
        - ' Risk Accepted'
        - ' False Positive'
        - ' Corrected'
        example: Vulnerability
        type: string
      vulnerabilityID:
        type: string
    type: object
info:
  contact:
    email: horusec@zup.com.br
    name: Horusec
    url: https://github.com/ZupIT/horusec-platform
  description: Service responsible for managing vulnerabilities.
  termsOfService: http://swagger.io/terms/
  title: Horusec-Vulnerability
paths:
  /vulnerability/health:
    get:
      consumes:
      - application/json
      description: Check if Health of service it's OK!
      operationId: health
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
        "500":
          description: INTERNAL SERVER ERROR
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
      tags:
      - Health
  /vulnerability/management/workspace/{workspaceID}:
    get:
      consumes:
      - application/json
      description: Get all vulnerabilities data by repository
      operationId: get-all-vulnerabilities-by-workspace
      parameters:
      - description: workspaceID of the workspace
        in: path
        name: workspaceID
        required: true
        type: string
      - description: page query string
        in: query
        name: page
        type: string
      - description: size query string
        in: query
        name: size
        type: string
      - description: vulnerability hash query string
        in: query
        name: vulnHash
        type: string
      - description: vulnerability type query string
        enum:
        - CRITICAL
        - HIGH
        - MEDIUM
        - LOW
        - INFO
        in: query
        name: vulnType
        type: string
      - description: vulnerability severity query string
        enum:
        - Vulnerability
        - Risk Accepted
        - False Positive
        - Corrected
        in: query
        name: vulnSeverity
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  $ref: '#/definitions/management.Response'
              type: object
        "400":
          description: BAD REQUEST
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
        "500":
          description: INTERNAL SERVER ERROR
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      tags:
      - Vulnerabilities
  /vulnerability/management/workspace/{workspaceID}/repository/{repositoryID}:
    get:
      consumes:
      - application/json
      description: Get all vulnerabilities data by repository
      operationId: get-all-vulnerabilities-by-repository
      parameters:
      - description: workspaceID of the workspace
        in: path
        name: workspaceID
        required: true
        type: string
      - description: repositoryID of the repository
        in: path
        name: repositoryID
        required: true
        type: string
      - description: page query string
        in: query
        name: page
        type: string
      - description: size query string
        in: query
        name: size
        type: string
      - description: vulnerability hash query string
        in: query
        name: vulnHash
        type: string
      - description: vulnerability type query string
        enum:
        - CRITICAL
        - HIGH
        - MEDIUM
        - LOW
        - INFO
        in: query
        name: vulnType
        type: string
      - description: vulnerability severity query string
        enum:
        - Vulnerability
        - Risk Accepted
        - False Positive
        - Corrected
        in: query
        name: vulnSeverity
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  $ref: '#/definitions/management.Response'
              type: object
        "400":
          description: BAD REQUEST
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
        "500":
          description: INTERNAL SERVER ERROR
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      tags:
      - Vulnerabilities
  /vulnerability/management/workspace/{workspaceID}/repository/{repositoryID}/vulnerabilities:
    patch:
      consumes:
      - application/json
      description: Update severity or type of many vulnerabilities
      operationId: update-vulnerabilities-workspace
      parameters:
      - description: workspaceID of the workspace
        in: path
        name: workspaceID
        required: true
        type: string
      - description: repositoryID of the repository
        in: path
        name: repositoryID
        required: true
        type: string
      - description: update vulnerability content info
        in: body
        name: VulnerabilityData
        required: true
        schema:
          $ref: '#/definitions/management.UpdateData'
      produces:
      - application/json
      responses:
        "204":
          description: OK
        "400":
          description: BAD REQUEST
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
        "404":
          description: NOT FOUND
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
        "500":
          description: INTERNAL SERVER ERROR
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      tags:
      - Vulnerabilities
  /vulnerability/management/workspace/{workspaceID}/vulnerabilities:
    patch:
      consumes:
      - application/json
      description: Update severity or type of many vulnerabilities
      operationId: update-vulnerabilities-repository
      parameters:
      - description: workspaceID of the workspace
        in: path
        name: workspaceID
        required: true
        type: string
      - description: update vulnerability content info
        in: body
        name: VulnerabilityData
        required: true
        schema:
          $ref: '#/definitions/management.UpdateData'
      produces:
      - application/json
      responses:
        "204":
          description: OK
        "400":
          description: BAD REQUEST
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
        "404":
          description: NOT FOUND
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
        "500":
          description: INTERNAL SERVER ERROR
          schema:
            allOf:
            - $ref: '#/definitions/entities.Response'
            - properties:
                content:
                  type: string
              type: object
      security:
      - ApiKeyAuth: []
      tags:
      - Vulnerabilities
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: X-Horusec-Authorization
    type: apiKey
swagger: "2.0"
