# Copyright 2021 ZUP IT SERVICOS EM TECNOLOGIA E INOVACAO SA
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

replicaCount: 1

image:
  repository: horuszup/horusec-vulnerability
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: v2.14.0

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
namespace: ""

serviceAccount:
  # Specifies whether a service vulnerability should be created
  create: true
  # Annotations to add to the service vulnerability
  annotations: {}
  # The name of the service vulnerability to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8003
  targetPort: 8003

ingress:
  enabled: true
  hosts:
    - host: "vulnerability-horus-dev.zup.com.br"
      paths:
        - /

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

env:
  - name: "HORUSEC_PORT"
    value: "8001"
  - name: "HORUSEC_SWAGGER_HOST"
    value: "0.0.0.0"
  - name: "HORUSEC_BROKER_HOST"
    value: "rabbitmq"
  - name: "HORUSEC_BROKER_PORT"
    value: "5672"
  - name: "HORUSEC_DATABASE_SQL_LOG_MODE"
    value: "false"
  - name: "HORUSEC_GRPC_AUTH_URL"
    value: "auth-horusec-auth-helm:8007"
  - name: "HORUSEC_GRPC_USE_CERTS"
    value: "false"
  - name: "HORUSEC_GRPC_CERT_PATH"
    value: ""

envFromSecret:
  - name: "HORUSEC_BROKER_USERNAME"
    key: "broker-username"
  - name: "HORUSEC_BROKER_PASSWORD"
    key: "broker-password"
  - name: "HORUSEC_DATABASE_SQL_URI"
    key: "database-uri"
  - name: "HORUSEC_JWT_SECRET_KEY"
    key: "jwt-token"